body {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column; /* この行を追加 */
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

h1 {
  margin-bottom: 1rem;
}

#task-form {
  display: flex;
  margin-bottom: 1rem;
}

#task-input {
  flex: 1;
  padding: 0.5rem;
  outline: none;
  border: 1px solid #ccc;
}

button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  background-color: #fff;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* この行を追加 */
  user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
  /* この行まで */
}

li.completed {
  text-decoration: line-through;
  color: #ccc;
}

.delete-btn {
  background-color: #f44336;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

button {
  user-select: none; /* この行を追加 */
}
